*{
    
}

body{
    color: #7a7a7a;
    background-color: black;
    font-family: Oswald;
}

.botones {
    background-color: #7a7a7a;
    color: black;

}

#caja{
    height: 450px;
    background-color: #7a7a7a;
}



#teclas{
    background-color: #7a7a7a;
}

button{
    height: 70px;
    
}