*{
    
}

body{
    color: #7a7a7a;
    background-color: black;
    font-family: Oswald;
}

.botones {
    background-color: #7a7a7a;
    color: black;

}

div{
    justify-content: center;
}

button{
    height: 65px;
 
}